.mainContainer {
  align-items: flex-end;
}

.image {
  max-width: 800px;
}

.exercisesContainer {
  overflow: auto;
  flex-flow: wrap;
}

.scoreBar {
  margin-top: 10px;
}

.goBack {
  width: min-content;
  padding: 0 15px;
}

@media (max-width: 600px) {
  .mainContainer {
    align-items: center;
  }
}
