.mainContainer {
  align-items: flex-end;
}

.exercisesContainer {
  overflow: auto;
  flex-flow: wrap;
}

.title {
  text-align: center;
}

@media (max-width: 600px) {
  .mainContainer {
    align-items: center;
  }
}
