@import '../../../scss/variables/colors';

.button {
  height: 50px;
  width: 250px;
}

.input {
  background-color: transparent;
  border: 0 none $white;
  border-bottom: 3px solid $white;
  border-radius: 0;
}

@media (max-width: 600px) {
  .mainContainer {
    flex-direction: column-reverse;
  }

  .image {
    flex: none;
  }

  .formContainer {
    flex: 1;
    align-items: center;
  }

  .form {
    align-items: center;
  }

  .input {
    width: 100%;
  }

}