@import '../../../../../scss/variables/colors';

.box {
  border: solid;
  border-radius: 20px;
}

.syllable {
  @extend .box;
  cursor: pointer;
  padding: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
}

@media (max-device-width: 600px) {
  .mainContainer {
    flex-direction: column;
  }

  .answer {
    flex-direction: column;
  }
}
