
$min: 1;
$max: 100;

// width

@for $i from $min through $max {

  .width-#{$i} {
    width: #{$i}px;
  }
}

// height

@for $i from $min through $max {

  .height-#{$i} {
    height: #{$i}px;
  }
}

.width-0 {
  width: 0;
}

.height-0 {
  height: 0;
}
