.button {
  height: 50px;
  width: 250px;
}

.image {
  transform: rotateY(-180deg);
}

.usersContainer {
  overflow: auto;
  flex-flow: wrap;
}

@media (max-width: 600px) {
  .mainContainer {
    flex-direction: column-reverse;
  }

  .imageContainer {
    display: none;
  }
}