@import '../../../scss/variables/colors';

.mainContainer {
  background-color: $lightning-yellow;
}

.button {
  height: 50px;
  width: 250px;
}

.input {
  background-color: transparent;
  border: 0 none $white;
  border-bottom: 3px solid $white;
  border-radius: 0;
}