/* stylelint-disable selector-class-pattern  */

$mobile-scale: 2;
$medium-desktop-scale: 3;
$desktop-scale: 5;

$min: 1;
$max: 100;

// Top margins

@if $min > 0 {
  @for $i from $min through $max {

    .m-top-#{$i} {
      margin-top: #{$i * $desktop-scale}px;
    }

    @media (max-width: 1280px) {
      .m-top-#{$i} {
        margin-top: #{$i * $medium-desktop-scale}px;
      }
    }

    @media (max-width: 600px) {
      .m-top-#{$i} {
        margin-top: #{$i * $mobile-scale}px;
      }
    }
    
  }
}

// Right margins

@if $min > 0 {
  @for $i from $min through $max {

    .m-right-#{$i} {
      margin-right: #{$i * $desktop-scale}px;
    }

    @media (max-width: 1280px) {
      .m-right-#{$i} {
        margin-right: #{$i * $medium-desktop-scale}px;
      }
    }

    @media (max-width: 600px) {
      .m-right-#{$i} {
        margin-right: #{$i * $mobile-scale}px;
      }
    }
  }
}

// Bottom margins

@if $min > 0 {
  @for $i from $min through $max {

    .m-bottom-#{$i} {
      margin-bottom: #{$i * $desktop-scale}px;
    }

    @media (max-width: 1280px) {
      .m-bottom-#{$i} {
        margin-bottom: #{$i * $medium-desktop-scale}px;
      }
    }

    @media (max-width: 600px) {
      .m-bottom-#{$i} {
        margin-bottom: #{$i * $mobile-scale}px;
      }
    }
  }
}

// Left margins

@if $min > 0 {
  @for $i from $min through $max {

    .m-left-#{$i} {
      margin-left: #{$i * $desktop-scale}px;
    }

    @media (max-width: 600px) {
      .m-left-#{$i} {
        margin-left: #{$i * $medium-desktop-scale}px;
      }
    }

    @media (max-width: 600px) {
      .m-left-#{$i} {
        margin-left: #{$i * $mobile-scale}px;
      }
    }
  }
}

.m-top-0 {
  margin-top: 0;
}

.m-right-0 {
  margin-right: 0;
}

.m-bottom-0 {
  margin-bottom: 0;
}

.m-left-0 {
  margin-left: 0;
}
