/* stylelint-disable selector-class-pattern  */

$bm-scale: 2;
$bd-scale: 5;

$min: 2;
$max: 100;

// Top margins

@if $min > 0 {
  @for $i from $min through $max {

    .m-top-#{$i} {
      margin-top: #{$i * $bd-scale}px;
    }

    @media (max-width: 600px) {
      .m-top-#{$i} {
        margin-top: #{$i * $bm-scale}px;
      }
    }
    
  }
}

// Right margins

@if $min > 0 {
  @for $i from $min through $max {

    .m-right-#{$i} {
      margin-right: #{$i * $bd-scale}px;
    }

    @media (max-width: 600px) {
      .m-right-#{$i} {
        margin-right: #{$i * $bm-scale}px;
      }
    }
  }
}

// Bottom margins

@if $min > 0 {
  @for $i from $min through $max {

    .m-bottom-#{$i} {
      margin-bottom: #{$i * $bd-scale}px;
    }

    @media (max-width: 600px) {
      .m-bottom-#{$i} {
        margin-bottom: #{$i * $bm-scale}px;
      }
    }
  }
}

// Left margins

@if $min > 0 {
  @for $i from $min through $max {

    .m-left-#{$i} {
      margin-left: #{$i * $bd-scale}px;
    }

    @media (max-width: 600px) {
      .m-left-#{$i} {
        margin-left: #{$i * $bm-scale}px;
      }
    }
  }
}

.m-top-0 {
  margin-top: 0;
}

.m-right-0 {
  margin-right: 0;
}

.m-bottom-0 {
  margin-bottom: 0;
}

.m-left-0 {
  margin-left: 0;
}
