/* stylelint-disable selector-class-pattern  */

$mobile-scale: 2;
$medium-desktop-scale: 3;
$desktop-scale: 5;

$min: 2;
$max: 100;

// Top paddings

@if $min > 0 {
  @for $i from $min through $max {

    .p-top-#{$i} {
      padding-top: #{$i * $desktop-scale}px;
    }

    @media (max-width: 1280px) {
      .p-top-#{$i} {
        padding-top: #{$i * $medium-desktop-scale}px;
      }
    }

    @media (max-width: 600px) {
      .p-top-#{$i} {
        padding-top: #{$i * $mobile-scale}px;
      }
    }
  }
}

// Right paddings

@if $min > 0 {
  @for $i from $min through $max {

    .p-right-#{$i} {
      padding-right: #{$i * $desktop-scale}px;
    }

    @media (max-width: 1280px) {
      .p-right-#{$i} {
        padding-right: #{$i * $medium-desktop-scale}px;
      }
    }

    @media (max-width: 600px) {
      .p-right-#{$i} {
        padding-right: #{$i * $mobile-scale}px;
      }
    }
  }
}

// Bottom paddings

@if $min > 0 {
  @for $i from $min through $max {

    .p-bottom-#{$i} {
      padding-bottom: #{$i * $desktop-scale}px;
    }

    @media (max-width: 1280px) {
      .p-bottom-#{$i} {
        padding-bottom: #{$i * $medium-desktop-scale}px;
      }
    }
    
    @media (max-width: 600px) {
      .p-bottom-#{$i} {
        padding-bottom: #{$i * $mobile-scale}px;
      }
    }
  }
}

// Left paddings

@if $min > 0 {
  @for $i from $min through $max {

    .p-left-#{$i} {
      padding-left: #{$i * $desktop-scale}px;
    }

    @media (max-width: 1280px) {
      .p-left-#{$i} {
        padding-left: #{$i * $medium-desktop-scale}px;
      }
    }

    @media (max-width: 600px) {
      .p-left-#{$i} {
        padding-left: #{$i * $mobile-scale}px;
      }
    }
  }
}

.p-top-0 {
  padding-top: 0;
}

.p-right-0 {
  padding-right: 0;
}

.p-bottom-0 {
  padding-bottom: 0;
}

.p-left-0 {
  padding-left: 0;
}
