/* stylelint-disable selector-class-pattern  */

$bm-scale: 2;
$bd-scale: 5;

$min: 2;
$max: 100;

// Top paddings

@if $min > 0 {
  @for $i from $min through $max {

    .p-top-#{$i} {
      padding-top: #{$i * $bd-scale}px;
    }

    @media (max-device-width: 600px) {
      .p-top-#{$i} {
        padding-top: #{$i * $bm-scale}px;
      }
    }
  }
}

// Right paddings

@if $min > 0 {
  @for $i from $min through $max {

    .p-right-#{$i} {
      padding-right: #{$i * $bd-scale}px;
    }

    @media (max-device-width: 600px) {
      .p-right-#{$i} {
        padding-right: #{$i * $bm-scale}px;
      }
    }
  }
}

// Bottom paddings

@if $min > 0 {
  @for $i from $min through $max {

    .p-bottom-#{$i} {
      padding-bottom: #{$i * $bd-scale}px;
    }
    
    @media (max-device-width: 600px) {
      .p-bottom-#{$i} {
        padding-bottom: #{$i * $bm-scale}px;
      }
    }
  }
}

// Left paddings

@if $min > 0 {
  @for $i from $min through $max {

    .p-left-#{$i} {
      padding-left: #{$i * $bd-scale}px;
    }

    @media (max-device-width: 600px) {
      .p-left-#{$i} {
        padding-left: #{$i * $bm-scale}px;
      }
    }
  }
}

.p-top-0 {
  padding-top: 0;
}

.p-right-0 {
  padding-right: 0;
}

.p-bottom-0 {
  padding-bottom: 0;
}

.p-left-0 {
  padding-left: 0;
}
